.choices {
    font-family: 'Cinzel' !important;
    border-radius: 15px !important;
    border: 1px solid black !important;
    margin-top: 10px;
    color: var(--cor-principal) !important;
}

.choices__inner, .choices__list {
    border-radius: 15px !important;
}

.choices__list {
  overflow-y: scroll; /* mantém o scroll funcional */
  scrollbar-width: none; /* Firefox */
}

.choices__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.choices__input {
    font-family: 'Raleway';
}


label {
    font-family: 'Cinzel';
    color: var(--cor-principal);
}

.choices_input {
    color: var(--cor-principal) !important;
}

.choices__list--multiple .choices__item {
    background-color: var(--cor-principal) !important;
    border: 1px solid black !important;
}