#privaObra, #classInd {
    font-family: 'Raleway';
    border: solid 1px black;
    padding: 5px;
    border-radius: 15px;
    margin-top: 10px;
}

#privaObra {
    margin-bottom: 10px;
}

#privaObra option, #classInd option {
    color: black !important;
    &:hover {
        background-color: lightgray;
    }
}
